@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Lexend", sans-serif;
}

body {
  background-color: #CDEAFC;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
}

@media only screen and (max-width: 1195px) {
  .centralizar {
    margin-top: 210px;
  }

  main {
    display: flex !important;
    flex-direction: column;
  }

.img-nav-bar {
  width: 100px;
  height: auto;
}

#root .centralizar aside {
    display: flex;
    width: 100%;
    align-items: center;
  }

  #root .centralizar aside nav {  
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;                             
  }

  #root .centralizar aside nav ul {
    display: flex;
  }

aside nav .img-nav-bar {
  margin: 0;
}

aside nav .log-out {
  margin: 0;
}

.favoritos-e-delivery  {
  gap: 20px;
  align-items: flex-end;
}

.favoritos {
  max-width: 300px;
  align-self: flex-start;
}

.delivery {
  margin-top: -270px;
  min-height: 250px;
}

}

